body{
    
    margin: 0;
    padding: 0;
    font-family: inherit;
    outline: none !important;
    list-style: none !important;
    text-decoration: none !important;
}
#particles-js{
    background: linear-gradient(rgba(0, 32, 39, 0.5),rgba(53, 53, 53, 0.5)),url(1.jpeg)  ;  
    background-size: cover;
    
    height: 100vh;
        background-position: center;

}
body{
    background-color: gray;
}
#m1{
    width: 100%;
    height: 100%;

}

h1{
  font-size: 50px;
}

h1, h3, h4, h5, h6 {
  
 padding-top: 15%;
    color: #fff;
    font-weight: 700;
    font-family: "secondary-font", "primary-font", "segoe ui", "tahoma";
    line-height: 1.85;
    text-align: center;


}

h2{
 color: #fff;
    font-weight: 700;
    font-family: "secondary-font", "primary-font", "segoe ui", "tahoma";
    line-height: 1.85;
    text-align: center;

        
}
ul{
     background-color: black;
     opacity: 60%;
     font-family: "secondary-font", "primary-font", "segoe ui", "tahoma";
     height: 8%;
text-align: center;
}
#ho{
    color:white;
    font-size: 170%;
    padding: 1%;
    padding-right: 4%;

}
#ho:hover{
    color: rgb(116, 228, 116);
}
#us{
    color:white;
    font-size: 170%;
    padding: 1%;
    padding-right: 4%;
}
#us:hover{
    color:   rgb(116, 228, 116);

}
body {
    direction: rtl;
    font-family: "primary-font", "segoe ui", "tahoma";
    font-size: 14px;
    color: #fff;
    overflow: hidden;
    background-color: #0e0f10;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: right;
    background-color: #fff;
}





